#results {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(85, 85, 85, 0.747);
}

#results img {
    width: 60px;
}
#results a>div{
    border: 1px solid white;
    height: min(200px, 150px);
    width: min(250px, 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#results p {
    font-weight: bold;
    font-size: 1.2rem;
}

#content-results {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    background-color: rgb(27, 27, 27);
    margin: min(120px, 2%);
    padding: 10% 0;
    height: 80vh; 
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content-results>button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: black;
    color: rgb(226, 17, 17);
    border: 2px solid rgb(255, 7, 7);
    cursor: pointer;
}