@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./header.css);
@import url(./main.css);
@import url(./greatchannel.css);
@import url(./playsoccer.css);
@import url(./pagepost.css);
@import url(./footer.css);
@import url(./allchannels.css);
@import url(./results.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #f0ffff;
}

li {
    list-style-type: none;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hide {
    display: none;
}

body {
    background-image: url('/src/images/dark-denim.png');
    background-color: rgb(0, 0, 0);
    position: relative;
}
.grid-articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#great-channels>div>a>div, .match, .category-contents{
    transition: transform 0.3s ease;
}

#great-channels>div>a>div:hover, .match:hover, .category-contents:hover{
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    box-shadow:  0px 0px 10px 2px rgba(151, 151, 151, 0.534); /* Sombra mais intensa */
    z-index: 1; /* Garante que o elemento fique "na frente" de outros */
}
